<section class="w-full bg-gradient-to-r from-orange-600 to-orange-400 py-24 text-white">
  <section class="max-w-7xl mx-auto px-6 grid md:grid-cols-2 gap-10 items-center">
    <div>
      <h1 class="text-4xl md:text-5xl font-extrabold leading-tight">
        As Melhores Ofertas Para Maximizar Seus Lucros
      </h1>
      <p class="mt-4 text-lg opacity-90">
        Produtos selecionados manualmente, alta taxa de conversão e benefícios reais.
      </p>

      <a
        href="#promotions"
        class="inline-block mt-6 mb-5 bg-white text-orange-700 font-bold px-8 py-3 rounded-lg shadow hover:bg-gray-200 transition duration-700 ease-in-out">
        Ver Ofertas Agora
      </a>
      <div class="hidden md:block">
        <img
          src="https://images.unsplash.com/photo-1522199710521-72d69614c702?auto=format&fit=crop&w=800&q=60"
          class="rounded-xl shadow-xl"
        />
      </div>
    </div>
</section>
</section>
<section id="promotions" class="pt-12">
  <app-promotion-list></app-promotion-list>
</section>
